* {
   margin: 0;
   padding: 0;
   background-color: #3e444d;
} 

.app {
  background-color: #3e444d;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #282c34;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: white;
}

.module-box {
  width: 240px;
  height: 240px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}

.module-box-learn {
  width: 380px;
  height: 260px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  
}

